
<div class="row container mx-auto pt-8 resp">
    <h1 id="privacy">Confidentialité</h1>
    
  <p>
    Votre vie privée est extrêmement importante pour nous. La politique de
    APDE.tn est de respecter votre vie privée concernant les informations que
    nous pouvons collecter lors de l'exploitation de notre site Web. Cette
    politique de confidentialité s'applique à https://www.APDE.tn (ci-après,
    «nous», «nous» ou «https://www.APDE.tn»). Nous respectons votre vie privée
    et nous nous engageons à protéger les informations personnellement
    identifiables que vous pouvez nous fournir via le site Web. Nous avons
    adopté cette politique de confidentialité («Politique de confidentialité»)
    pour expliquer quelles informations peuvent être collectées sur notre site
    Web, comment nous utilisons ces informations et dans quelles circonstances
    nous pouvons divulguer ces informations à des tiers. Cette politique de
    confidentialité s'applique uniquement aux informations que nous recueillons
    via le site Web et ne s'applique pas à notre collecte d'informations à
    partir d'autres sources. Cette politique de confidentialité, ainsi que les
    conditions générales publiées sur notre site Web, énoncent les règles et
    politiques générales régissant votre utilisation de notre site Web. En
    fonction de vos activités lors de la visite de notre site Web, vous devrez
    peut-être accepter des conditions générales supplémentaires.
  </p>
  <h3>Visiteurs du site Web</h3>
  <p>
    Comme la plupart des opérateurs de sites Web, APDE.tn collecte des
    informations non personnelles du type que les navigateurs Web et les
    serveurs mettent généralement à disposition, telles que le type de
    navigateur, la préférence de langue, le site de référence et la date et
    l'heure de chaque demande de visiteur. Le but de APDE.tn en collectant des
    informations non personnelles est de mieux comprendre comment les visiteurs
    de APDE.tn utilisent son site Web. De temps en temps, APDE.tn peut publier
    des informations non personnelles dans l'ensemble, par exemple en publiant
    un rapport sur les tendances d'utilisation de son site Web. APDE.tn
    recueille également des informations potentiellement personnelles telles que
    les adresses IP (Internet Protocol) pour les utilisateurs connectés et pour
    les utilisateurs laissant des commentaires sur les articles de blog
    https://www.APDE.tn. APDE.tn ne divulgue les adresses IP des utilisateurs
    et des commentateurs connectés que dans les mêmes circonstances qu'il
    utilise et divulgue les informations d'identification personnelle comme
    décrit ci-dessous. Collecte d'informations d'identification personnelle
    Certains visiteurs des sites Web de APDE.tn choisissent d'interagir avec
    APDE.tn d'une manière qui oblige APDE.tn à recueillir des informations
    d'identification personnelle. La quantité et le type d'informations
    collectées par APDE.tn dépendent de la nature de l'interaction. Par
    exemple, nous demandons aux visiteurs qui s'inscrivent pour un nouveau
    compte sur https://www.APDE.tn/login de fournir un prénom et un nom, un nom
    d'utilisateur et une adresse e-mail et un numéro de téléphone ...
  </p>
  <h3>Sécurité</h3>
  <p>
    La sécurité de vos informations personnelles est importante pour nous, mais
    rappelez-vous qu'aucune méthode de transmission sur Internet ou méthode de
    stockage électronique n'est sécurisée à 100%. Bien que nous nous efforcions
    d'utiliser des moyens commercialement acceptables pour protéger vos
    informations personnelles, nous ne pouvons garantir leur sécurité absolue.
  </p>
  <h3>Liens vers des sites externes</h3>
  <p>
    Notre service peut contenir des liens vers des sites externes qui ne sont
    pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez dirigé
    vers le site de ce tiers. Nous vous conseillons vivement de consulter la
    politique de confidentialité et les conditions générales de chaque site que
    vous visitez. Nous n'avons aucun contrôle et n'assumons aucune
    responsabilité pour le contenu, les politiques de confidentialité ou les
    pratiques de tout site, produit ou service tiers.
  </p>
  <h3>Protection de certaines informations d'identification personnelle</h3>
  <p>
    APDE.tn divulgue des informations potentiellement personnelles et
    d'identification personnelle uniquement à ceux de ses employés,
    sous-traitants et organisations affiliées qui (i) ont besoin de connaître
    ces informations afin de les traiter au nom de APDE.tn ou de fournir des
    services disponibles chez APDE.tn le site Web de .tn, et (ii) qui ont
    accepté de ne pas le divulguer à des tiers. Certains de ces employés,
    sous-traitants et organisations affiliées peuvent être situés en dehors de
    votre pays d'origine; en utilisant le site Web de APDE.tn, vous consentez
    au transfert de ces informations. APDE.tn ne louera ni ne vendra à qui que
    ce soit des informations potentiellement identifiantes et personnelles. En
    dehors de ses employés, sous-traitants et organisations affiliées, comme
    décrit ci-dessus, APDE.tn divulgue des informations potentiellement
    personnelles et d'identification personnelle uniquement en réponse à une
    assignation, une ordonnance du tribunal ou une autre demande
    gouvernementale, ou lorsque APDE.tn croit au bien. foi que la divulgation
    est raisonnablement nécessaire pour protéger la propriété ou les droits de
    APDE.tn, de tiers ou du grand public. Si vous êtes un utilisateur
    enregistré de https://www.APDE.tn et que vous avez fourni votre adresse
    e-mail, APDE.tn peut occasionnellement vous envoyer un e-mail pour vous
    informer des nouvelles fonctionnalités, solliciter vos commentaires ou
    simplement vous tenir au courant. avec ce qui se passe avec APDE.tn et nos
    produits. Nous utilisons principalement notre blog pour communiquer ce type
    d'informations, nous prévoyons donc de réduire au minimum ce type de
    courrier électronique. Si vous nous envoyez une demande (par exemple via un
    email de support ou via l'un de nos mécanismes de feedback), nous nous
    réservons le droit de la publier afin de nous aider à clarifier ou répondre
    à votre demande ou à nous aider à soutenir
  </p>

</div>
